<div class="full-height-h" fxLayout="column">
    <mat-toolbar>
        <button mat-icon-button (click)="goBack()">
            <mat-icon>keyboard_return</mat-icon>
        </button>
        <button mat-icon-button (click)="onSalvar()" [disabled]="!observacaoForm.valid || !descricaoForm.valid">
            <mat-icon>save</mat-icon>
        </button>
        <div style="flex: 1 1 auto;"></div>
        <button mat-button (click)="onImportarCatalogo()"
            *ngIf="selectedIndex === 2 && (registro !== null && registro.codigo !== 0)">
            <mat-icon>picture_as_pdf</mat-icon> Importar Catalogo
        </button>
    </mat-toolbar>
    <mat-tab-group fxFlex class="full-height-h" [(selectedIndex)]="selectedIndex" *ngIf="registro">
        <mat-tab label="Principal">
            <div style="padding: 10px;" fxLayout="column">
                <div fxLayout="row" fxLayoutGap="5px">
                    <mat-form-field appearance="fill">
                        <mat-label>Código</mat-label>
                        <input matInput [ngModel]="registro.codigo" disabled>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Cadastrado</mat-label>
                        <input matInput [ngModel]="registro.dataCadastrado | datetimeptbr" disabled>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Editado</mat-label>
                        <input matInput [ngModel]="registro.dataAlterado | datetimeptbr" disabled>
                    </mat-form-field>
                </div>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Descrição</mat-label>
                    <input matInput #inputDescricao [formControl]="descricaoForm" [maxlength]="maxLengthDescricao">
                    <mat-hint align="end">{{inputDescricao.value?.length || 0}}/{{maxLengthDescricao}}</mat-hint>
                </mat-form-field> 
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>URL Logo</mat-label>
                    <input matInput #inputUrl [(ngModel)]="registro.imagemUrl" [maxlength]="maxLengthUrl">
                    <mat-hint align="end">{{inputUrl.value?.length || 0}}/{{maxLengthUrl}}</mat-hint>
                </mat-form-field>
                <span>Observação</span>
                <ckeditor [formControl]="observacaoForm" debounce="500" [config]="{'height': '100px'}"></ckeditor>
                <alert-component *ngIf="!observacaoForm.valid" tipo="error">Error: {{observacaoForm.value.length}} de 255 Caracteres</alert-component>
            </div>
        </mat-tab>
        <mat-tab label="E-mail">
            <div fxLayout="column" fxLayoutGap="5px" style="padding: 10px;">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Titulo E-mail</mat-label>
                    <input matInput [(ngModel)]="registro.tituloEmail">
                </mat-form-field>
                <ckeditor [(ngModel)]="registro.textoEmail" debounce="500"></ckeditor>               
            </div>
        </mat-tab>
        <mat-tab label="Paginas" [disabled]="(registro === null || registro.codigo == null || registro.codigo === 0)">
            <div fxFlex class="full-height-h">
                <div class="full-height-a">
                    <div fxLayout="row wrap" fxLayoutGap="10px grid" style="padding: 5px;">
                        <div fxFlex="50" *ngFor="let item of registro.catalogoPaginas">
                            <catalogos-edit-paginas-component [registro]="item" [catalogo]="registro">
                            </catalogos-edit-paginas-component>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>