<mat-card>
    <mat-card-header>
        <mat-card-title>{{registro?.referencia}}</mat-card-title>
        <mat-card-subtitle>{{registro?.descricao}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Valor: {{registro?.valor | currencybr}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button (click)="onEditar()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onRemover()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>