<mat-sidenav-container class="full-height-h">
  <mat-sidenav-content>
    <div fxLayout="row" class="full-height-h">

      <mat-nav-list  >
        <mat-list-item class="stitemlist" (click)="navegar(item.rota)" 
        *ngFor="let item of menuRotas"
          [matTooltip]="item.descricao">
          <mat-icon>{{item.icone}}</mat-icon>
          <div mat-ripple></div>
        </mat-list-item>
      </mat-nav-list>

      <div fxFlex style="width: 100%;" class="full-height-h">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>